<!DOCTYPE html>
<html>
  <head>
    <title>Bare1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= yield :after_body %>
</html>
